@import "node_modules/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Poppins|Qwigley&display=swap");
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
ul {
  list-style: none;
}
a, button{
  cursor: pointer;
}
.wrapper {
  background: url("../../static/bg.svg") no-repeat;
  overflow: hidden;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 12.75vh;
  padding-left: 5.1vw;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  @media screen and (max-width: 900px){
    padding-top: 0;
    padding-left: 0;
    overflow-y: auto;
  }
  .serf {
    position: absolute;
    z-index: 1;
    right: 5.9%;
    width: 43.7vw;
    height: 90%;
    top: 5%;
    background-color: red;
    background: url("/serf.svg") 100% 100% no-repeat;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: slidein;
    pointer-events: none;
    @media screen and (max-width: 900px){
      height: 30%;
    }
  }
  @keyframes slidein {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0);
    }
  }



  .content {
    width: 78.6vw;
    height: 69.7vh;
    .nuxt-wrap {
      position: relative;
      background: url("../../static/bg-content.jpg") 0 -100px no-repeat;
      background-size: 100%;
      height: 90%;
      width: 100%;
      border-radius: 5px;
      @media screen and (max-width: 900px){
        width: 100vw;
        height: 100vh;
      }
      .page {
        padding-left: 4.9vw;
        h1 {
          display: flex;
          flex-direction: column;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 4vw;
          margin: 0;
          color: #3d3a48;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
      transition: 1s ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-name: serfy;
      @media screen and (max-width: 900px){
        animation: none;
        background-position: 0 0;
      }
    }
    @keyframes serfy {
      0% {
        background-position: 0 -150px;
        transform: rotate(0);
      }
      50% {
        background-position: 0 -100px;
        transform: rotate(-1deg);
      }
      100% {
        background-position: 0 -150px;
        transform: rotate(0);
      }
    }
  }
}

